*.iml
.gradle
/local.properties
/.idea
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
gradle/wrapper/gradle-wrapper.jar
godot-lib.3.2.3.stable.release/build/
godot-lib.3.3.stable.release/build/.transforms/2555c0ee443cae35f015c1a437e694d1.bin
godot-lib.3.3.stable.release/build/.transforms/9bae84e9ca6c5cffd8450d011651e8e1.bin
godot-lib.3.3.stable.release/build/
